name: CI/CD Pipeline

on:
  push:
    branches:
     - main
  
 
jobs:
 build-and-test:
  runs-on: ubuntu-latest
  strategy:
   matrix:
    node-version: [20.x]

  steps:
  - name: Checkout Repository
    uses: actions/checkout@v4 

  - name: Set up Node js ${{ matrix.node-version }}
    uses: actions/setup-node@v4
    with:
      node-version: ${{ matrix.node-version }}
      cache: npm

  - name: Install Dependencies
    run: npm ci

  - name: Build app
    run: npm run build --if-present
    
  - name: Run tests
    run: npm run test --if-present


 deploy:
  needs: build-and-test
  runs-on: ubuntu-latest 

  steps:

  - name: Checkout Repository
    uses: actions/checkout@v4

  - name: Setup SSH
    uses: webfactory/ssh-agent@v0.9.0
    with:
     ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

  - name: Deploy to vps
    run: |
      ssh -o  StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }}  << 'EOF' 
       cd /var/www/app
       git pull origin main 
       docker compose down
       docker compose build --no-cache
       docker compose up -d
       pm2 restart all || pm2 start dist/server.js --name app
      EOF 


 
